* 
{
	color: rgb(240, 0, 232);
    font-family: 'Gilda Display', serif;
    border-radius: 10px;
    
}

*:hover{
    color: rgb(88, 102, 250);
}

body{
    background-color: rgb(252, 189, 238);
}

.h1-titulo {
    color: rgb(135, 222, 218);
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(212, 250, 175);
    text-align: center;
    padding: 50px;
    left: 390px;
    border-radius: 20px;
  
    

    
    


}
.contenedor{
    background-color:rgb(212, 248, 176);
    padding: 10px;
    margin-bottom: 30px;
    
    
    
}

.contenedor_3 {
    background-color:rgb(212, 248, 176);
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex ;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.subcontenedor{
    display: flex;
    flex-wrap: nowrap;
}

.contenedor:hover{
    box-shadow: 20px, 20px, black;
}


.subsubcontenedor{
    display:flex ;
    flex-wrap: nowrap;
    width: 100;
    margin-bottom: 30px;
    background-color:rgb(212, 248, 176)
}
.subcontenedor2{
    display:flex ;
    flex-wrap: nowrap;
    width: 100;
    flex-direction: row-reverse;
    padding: 50px ;
    background-color:rgb(212, 248, 176)


}

.subcontenedor3 {

    display:flex ;
    flex-wrap: nowrap;
    width: 100;
    flex-direction: row-reverse;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    background-color:rgb(212, 248, 176)
}

.subcontenedor4 {
    display:flex ;
    display: inline-block;
    flex-wrap: nowrap;
    width: 100;
    flex-direction: row-reverse;
    padding: 50px;
    background-color:rgb(212, 248, 176)

}



h2, h3 {
    text-align: center;
    text-decoration: underline;
    display: block;
}



p{
    margin: 20px;
    text-align: center;
    display: inline;
}

.List{
    font-family: 'Gilda Display', serif;
    display: flex;
    justify-content: center;
    background-color:rgb(197, 255, 155) ;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 50px;
}
.sublista{
    
    margin: 10px;
    padding: 10px;
}
.img1{
    display: inline;
    width: 20em;
    height: 8em;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(197, 255, 155), rgb(197, 255, 155), rgb(197, 255, 155));
    border-radius: 30px;
    margin: 20px;
}

.img2 { 
    width: 200px;
    height: 180px;
    display: inline;
    margin: 20px;
}